div[id="App"]{

  background: url("AIUALOGO.jpeg") no-repeat center center fixed;
  position: absolute;
  height: 100%;
  width: 100%;
}
div[id="board"]{
  width: fit-content;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: blue;
  transform: scaleY(-1);
  cursor: pointer;
}
div[id="title"] {
  width: fit-content;
  font-size: 50px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  color: blue;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 2px grey;
  text-decoration: underline;




}
div[class="player"]{
  text-align: center;
  font-weight: bold;
  line-height: 70px;
  margin-top: 200px;
}
div[id="player 1"]{
  position: absolute;  right: 150px;


}
div[id="player 2"]{
  position: absolute;  left: 150px;

}
div[state="playing"]{
  border: 1px solid lawngreen;
  animation: blink 1s linear infinite;


}


div [id="cell"]{
  width: 80px;
  height: 80px;
  border-radius: 50px ;
  border: 1px solid black;
  margin: 7px;
}
div[color="empty"]{
  background-color: beige;
}
div [color="red"] {
  background-color: red;
}
div [color="yellow"] {
  background-color: yellow;
}
div [color="win"] {

  animation: blink 2s linear infinite;

}
@keyframes blink {
  50% {
    background-color: lawngreen;
  }
}

div[id="popUp"] {
  
  font-size: 50px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: beige;
  border: 5px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;

}

div[state="show"]{
  display: block;
}
div[state="none"]{
  display: none;
}