.App {
  text-align: center;
}
div[id="board"]{
  width: 700px;
  height: 600px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: blue;
  transform: scaleY(-1);
}


div [id="cell"]{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin: 10px;
}
div[color="empty"]{
  background-color: beige;
}
div [color="red"] {
  background-color: red;
}
div [color="yellow"] {
  background-color: yellow;
}